.oneSection__photosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.oneSection__photosGrid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 5px;

}

.oneSection__photosGrid img {
    object-fit: cover !important;
    cursor: pointer;
}

.oneSection__viewImgContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.688);
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    padding: 1em;
}

.oneSection__viewImgDiv {
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.oneSection__viewImgDiv p {
    position: absolute;
    top: 0;
    z-index: 5;
}

.oneSection__viewImgContainer img {
    position: absolute;
    opacity: 0;
    height: 100%;
    object-fit: contain !important;
    transition: 0.5s ease;
}

.oneSection__viewImgContainer i {
    color: var(--text-color-white);
    font-size: 2.5em;
    cursor: pointer;
}

.oneSection__closeViesImg {
    position: absolute;
    top: 1em;
    right: 1em;

}

@media(max-width:900px) {
    .oneSection__photosContainer {
        padding: 3vw;
    }

    .oneSection__photosGrid {
        display: flex !important;
        flex-direction: column;
        gap: 2vw;
        width: 100%;
    }

    .oneSection__photosGrid__div {
        height: 25vh;
        width: 100%;
    }


}