.header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: transparent;
    z-index: 20;
    transition: 0.5s ease;

}

.header__menuContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__logo {
    position: absolute;
    left: 2em;
    width: 11em;
    height: 100%;
    object-fit: contain;
}

.header__ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;


}

.header__ul li {
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.header__ul li:hover {
    color: var(--text-color-gold);
    transition: 0.3s ease;
}

.header__ul a {
    font-size: 1.2em;
    color: var(--text-color-beige);
    font-weight: 600;
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

.header__ul a:hover {
    color: var(--text-color-gold);
    transition: 0.3s ease;
}

.header__iconsContainer {
    position: absolute;
    top: 1em;
    right: 2em;
    display: flex;
    gap: 0.8em;
}

.header__iconsContainer a {
    font-size: 1.5em;
    color: var(--text-color-beige);
    cursor: pointer;
}

.header__iconsContainer a:hover {
    color: var(--text-color-gold);

}


.headerWhite__container {
    background-color: var(--body-white);
    border-bottom: 1px solid var(--body-black);
}

.headerWhite__container a {
    color: var(--text-color-black);
}

@media(max-width:1000px) {
    .header__container {
        height: 4em;
    }

    .header__logo {
        width: 7em;
        left: 1em;
        top: 0.5em;
    }

    .header__container a {
        color: var(--text-color-black);
    }

    .header__menuContainer {
        position: absolute;
        top: 4em;
        right: 0;
        width: 100%;
        max-width: 340px;
        height: 100vh;
        background-color: var(--body-white);
        flex-direction: column;
        justify-content: start;
        padding: 4em 1em;
        gap: 3em;
        box-shadow: -5px 5px 10px 1px rgba(37, 37, 37, 0.529);
        transform: translateX(0);
        transition: 0.5s;
        overflow: hidden;
    }

    .close__menuContainer {
        transform: translateX(110%);
    }

    .header__ul {
        height: auto;
        flex-direction: column;
    }

    .header__iconsContainer {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .header__iconsContainer a {
        font-size: 2em;

    }

    .header__menuAmburguesa {
        position: absolute;
        right: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .header__menuAmburguesa span {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: var(--text-color-white);
        transform: rotateZ(0);
        transition: 0.3s ease;
        border-radius: 3px;
    }

    .header__closeMenuAmburguesa span:nth-child(1) {
        position: absolute;
        transform: rotateZ(-45deg);
        transition: 0.3s ease;
    }

    .header__closeMenuAmburguesa span:nth-child(2) {
        position: relative;
        opacity: 0;
        transition: 0.3s ease;
    }

    .header__closeMenuAmburguesa span:nth-child(3) {
        position: absolute;
        transform: rotateZ(45deg);
        transition: 0.3s ease;
    }

}

@media(max-height:600px) {
    .header__container {
        justify-content: start;
    }

    .header__menuContainer {
        padding: 1.5vw;
    }

    .header__ul {
        gap: 2vw;
    }

    .header__container a {
        font-size: 2.5vw;
    }

    .header__iconsContainer {
        gap: 2vw;
    }

    .header__iconsContainer a {
        font-size: 3.5vw;
    }
}

.headerWhite__container span {
    background-color: var(--text-color-black);
}