.sections__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.sections__frontPage {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sections__frontPageImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center 85%; */
    filter: brightness(0.7);
    /* Ajusta esto según tus necesidades */
}

.sections__frontPage__texts {
    position: absolute;
    left: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 4
}

.sections__frontPage__texts p {
    color: var(--text-color-beige);
    font-size: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections__frontPage__texts p:nth-child(1) {
    animation: textAnimation 1s both;
}

.sections__frontPage__texts p:nth-child(3) {
    animation: textAnimation 2s both;
}


.sections__frontPage__texts h1 {
    color: var(--text-color-gold);
    font-size: 75px;
    animation: textAnimation 1.5s both;
}

.sections__frontPage__texts img {
    margin-top: 1em;
    width: 2em;
    animation: rowAnimation 2s infinite;
    cursor: pointer;
    z-index: 4;

}

@keyframes rowAnimation {
    0% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-30%);
    }
}



/* sections__servicesContainer */
.sections__servicesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.sections__servicesContainer h2 {
    color: var(--text-color-black);
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid var(--text-color-black);
    animation: textAnimation 1.5s ease-in-out;

}


/* sections__notesContainer */

.sections__notesContainer {
    position: relative;
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--body-light);

}

.sectionsNotes__articlesContainer {
    position: relative;
    width: 600%;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: 0.5s;

}

.sections__notesVisible {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s ease;
    padding: 3vw;

}

.sections__notesVisible img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.sections__notesVisible div {
    margin-top: -3vw;
    width: 40%;
}

.sections__notesVisible p {
    font-size: 1.8em;
    text-align: center;
    color: var(--text-color-gray);
}


.sectionsNotes__arrowsContainer {
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.sectionsNotes__arrowsContainer img {
    width: 3em;
    cursor: pointer;
}

.sectionsNotes__arrowsContainer span {
    font-weight: 400;
    font-size: 1.3em;
}

/* sections__articleTwo */

.sections__articleTwo {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 1em;
    gap: 10px;
    background-color: var(--body-black);
}



.sections__letsWorkContainer {
    position: relative;
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sections__letsWorkContainer img {

    filter: brightness(0.7);
    object-fit: cover;
}

.sectionsLetsWork__article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    z-index: 3;
}

.sectionsLetsWork__article h3 {
    color: var(--text-color-white);
    font-size: 2.7em;
    font-weight: 300;
    letter-spacing: 2px;
}

.sectionsLetsWork__article a {
    color: var(--text-color-white);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--text-color-white);
}

.sectionsLetsWork__article a:hover {
    color: var(--text-color-gold);
    border-bottom: 2px solid var(--text-color-gold);
}


@media(max-width:800px) {

    .sections__frontPage__texts p {
        font-size: 6vw;
    }

    .sections__frontPage__texts h1 {
        font-size: 8vw;
    }

    .sections__frontPage__teamImages {
        display: none;
    }

    .sections__servicesContainer h2 {
        font-size: 6vw;
    }

    .sections__articleTwo {
        padding: 0;
    }

    .sections__notesContainer {
        height: 70vh;
    }

    .sections__notesVisible {
        height: 100%;
        flex-direction: column;
    }

    .sections__notesVisible img {
        width: 100%;
        height: 50%;
    }

    .sections__notesVisible div {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sections__notesVisible p {
        font-size: 5vw;
    }

    .sectionsNotes__arrowsContainer {
        width: 100%;
        right: 0;
    }

    .sectionsNotes__arrowsContainer img {
        width: 8vw;
    }

    .sectionsNotes__arrowsContainer span {
        font-size: 5vw;
    }

    .sections__letsWorkContainer {
        height: 45vh !important;
    }

    .sectionsLetsWork__article h3 {
        font-size: 8vw;
    }

    .sectionsLetsWork__article a {
        font-size: 4vw;
    }
}


@media(max-height:600px) {

    .sections__frontPage__texts {
        position: absolute;
        top: 2vw;
        left: 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        z-index: 4
    }

    .sections__frontPage__texts p {

        font-size: 4vw;

    }

    .sections__frontPage__texts h1 {

        font-size: 6vw;

    }

    .sections__frontPage__texts img {
        width: 2em;


    }

    .sections__servicesContainer h2 {
        font-size: 3vw;

    }

    .sections__notesContainer {
        height: 50vw;
    }

    .sections__notesVisible {
        flex-direction: row;
        gap: 2vw;
    }

    .sections__notesVisible p {
        font-size: 2vw;
    }

    .sections__notesVisible img {
        width: 40%;
        height: 100%;


    }

    .sectionsNotes__arrowsContainer {
        position: absolute;
        bottom: 3vw;
        right: 3vw;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .sectionsNotes__arrowsContainer img {
        width: 4vw;
        cursor: pointer;
    }

    .sectionsNotes__arrowsContainer span {
        font-weight: 400;
        font-size: 2vw;
    }

    .sections__letsWorkContainer {
        height: 45vw !important;
    }

    .sectionsLetsWork__article h3 {
        font-size: 6vw;
    }

    .sectionsLetsWork__article a {
        font-size: 3vw;
    }

}