.app_container {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--body-white);
  overflow-y: auto;
}


@keyframes textAnimation {
  0% {
    transform: translateX(100%) translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}



@keyframes imgAnimation {
  0% {
    scale: 0.5;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes imgAnimation2 {
  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

.top__container {
  position: fixed;
  bottom: 2vw;
  right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  z-index: 20;
  background-color: var(--body-light);
  border-radius: 0.5em;
}

.top__container img {
  width: 3.5vw;
  transform: rotateZ(90deg);
}

.top__container p {
  font-size: 1vw;
  font-weight: 600;
}

@media(max-width:800px) {
  .top__container img {
    width: 15vw;
    transform: rotateZ(90deg);
  }

  .top__container p {
    font-size: 4vw;
    font-weight: 600;
  }
}

@media(max-height:500px) {
  .top__container img {
    width: 6vw;
    transform: rotateZ(90deg);
  }

  .top__container p {
    font-size: 1.5vw;
    font-weight: 600;
  }
}