.app_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--body-white);
  overflow-y: auto;
}


@keyframes textAnimation {
  0% {
    transform: translateX(100%) translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes imgAnimation {
  0% {
    scale: 0.5;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}